/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        sym_to_num_1: sym_to_num_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=! shift=1";
            bindings = <&kp EXCLAMATION>, <&kp NUMBER_1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_2: sym_to_num_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=@ shift=2";
            bindings = <&kp AT_SIGN>, <&kp NUMBER_2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_3: sym_to_num_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=# shift=3";
            bindings = <&kp HASH>, <&kp NUMBER_3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_4: new_behavior {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=$ shift=4";
            bindings = <&kp DOLLAR>, <&kp NUMBER_4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_5: sym_to_num_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=% shift=5";
            bindings = <&kp PERCENT>, <&kp N5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_6: sym_to_num_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=^ shift=6";
            bindings = <&kp CARET>, <&kp NUMBER_6>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_7: sym_to_num_7 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=& shift=7";
            bindings = <&kp AMPERSAND>, <&kp NUMBER_7>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_8: sym_to_num_8 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=* shift=8";
            bindings = <&kp AMPERSAND>, <&kp NUMBER_8>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_9: sym_to_num_9 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=( shift=9";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp NUMBER_9>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sym_to_num_0: sym_to_num_0 {
            compatible = "zmk,behavior-mod-morph";
            label = "standart=) shift=0";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp NUMBER_0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            label = "Base";
            bindings = <
&kp ESC         &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)       &kp LS(NUMBER_5)                                   &kp LS(NUMBER_6)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp LS(NUMBER_0)     &kp LS(NUMBER_2)
&kp TAB         &kp Q             &kp W             &kp E             &kp R                  &kp T                                              &kp Y             &kp U             &kp I             &kp O             &kp P                &mt RIGHT_BRACKET LEFT_BRACKET
&kp LCTRL       &kp A             &kp S             &kp D             &kp F                  &kp G                                              &kp H             &kp J             &kp K             &kp L             &kp SEMI             &mt GRAVE SQT
&kp LEFT_SHIFT  &kp Z             &kp X             &kp C             &kp V                  &kp B             &kp LS(MINUS)         &kp EQUAL  &kp N             &kp M             &kp COMMA         &kp DOT           &mt BACKSLASH SLASH  &none
                                                    &none             &mt CAPSLOCK LEFT_GUI  &mo 1             &mt LEFT_ALT ENTER    &kp SPACE  &kp BACKSPACE     &mo 1             &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            label = "Raise";
            bindings = <
&kp F1          &kp F2  &kp F3        &kp F4        &kp F5        &kp F6                                               &kp F7            &kp F8    &kp F9        &kp F10    &kp F11  &kp F12
&none           &none   &kp NUMBER_6  &kp N5        &kp NUMBER_4  &kp C_VOL_UP                                         &none             &none     &kp UP_ARROW  &none      &none    &none
&kp LEFT_SHIFT  &none   &kp NUMBER_3  &kp NUMBER_2  &kp NUMBER_1  &kp C_VOL_DN                                         &kp HOME          &kp LEFT  &kp DOWN      &kp RIGHT  &kp END  &none
&kp LCTRL       &none   &kp NUMBER_9  &kp NUMBER_8  &kp NUMBER_7  &kp K_MUTE    &mo 2           &none                  &kp LC(LEFT_WIN)  &none     &none         &none      &none    &none
                                      &none         &none         &none         &kp NUMBER_0    &mt LEFT_ALT NUMBER_0  &kp LEFT_SHIFT    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        bt_layer {
            bindings = <
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans       &trans        &trans        &trans        &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&sys_reset   &trans        &trans        &trans        &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&bootloader  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                         &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans
            >;

            label = "BT LAYER";
        };
    };
};
